@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
/* font-family: 'Rubik Moonrocks', cursive; */


.robot{
        width: 200px;
        margin-bottom: 80px;
        border-radius: 48px;
}

.humain{
        width: 200px;
        border-radius: 45px;

}
.Hm{
        margin-top: 20px;
        gap: 10px;
        display: flex;

}
.Hm button{
        border-radius: 4px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
}
.IT{
        display: flex;
        gap: 200px;
        justify-content: center;
        margin-top: 80px;

}
.score{
        font-size: x-large;
        font-weight: bold;
}
.PO{
        width: 150px;
  
}
h1,p{
        text-align: center;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: x-large;
        font-style: oblique;
    
}
h2{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.vs{
     width: 180px;
    
}

.newia{
        display: flex;
        gap: 45px;
}
.commentaires{
     text-align: center;
}
.Detail{
     text-align: center;
}
.buttoN{
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
        border-radius: 15px;
        background-color: rgb(45, 25, 158);   
        display: flex; 
}
#fin{
        font-size: xx-large;
        font-family: 'Rubik Moonrocks', cursive;

}
.pie{
        color: white;
        border-radius: 15px;
        background-color: rgb(45, 25, 158);    
}

@media (max-width:768px) {
        .IT{
                display: block;
                /* gap: 200px; */
                /* justify-content: center; */
                margin-top: 80px;    
                width: 100%;
                margin-left: 48px;
        }
        body{
                background-color: rgb(73, 73, 163);

        }
        .PO{
                border-radius: 60px;
                background-color: rgb(73, 73, 163);

        }
        
        .vs{
              display: none;
        }
        .score{
                font-size: x-large;
                font-weight: bold;
        }
        #score1{
                margin-right: 38px;
        }
        #score2{
                margin-right: 34px;
        }
        body{
                position: absolute;
        }
        .robot{
                margin-left: 50px;

        }
        .humain{
                margin-left: 50px;

        }
        .Hm{
         margin-left: 40px;
         margin-top: 30px;
        }


}
#particles-js{
        background-color: white;
        
}
